<f:layout name="Page" />

<!--
  all templates incl. in this default.html:
  1: "homepage" - headerimg & one column
	2: "firstlevelpage" - headerimg & two columns
	3: "subpage" - two columns
-->

<!-- homepage -->
<f:section name="homepage">
	<header>
		<f:render partial="navbar" />
		<f:if condition="{header}">
			<f:then>
				<div class="header-image">
					<f:format.raw>{header}</f:format.raw>
				</div>
			</f:then>
			<f:else>
				<div class="header-image">
					<img alt="Header Image" src="typo3conf/ext/provider/Resources/Public/Images/schloss_karlsruhe.jpg" width="1500" height="600">
				</div>
			</f:else>
		</f:if>
	</header>
	<div class="content">
		<div class="content__wrapper">
			<f:format.raw>{main}</f:format.raw>
		</div>
	</div>
	<f:render partial="footer" />
</f:section>

<!-- firstlevelpage -->
<f:section name="firstlevelpage">
	<header>
		<f:render partial="navbar" />
		<f:if condition="{header}">
			<f:then>
				<div class="header-image">
					<f:format.raw>{header}</f:format.raw>
				</div>
			</f:then>
			<f:else>
				<div class="header-image">
					<img alt="Header Image" src="typo3conf/ext/provider/Resources/Public/Images/schloss_karlsruhe.jpg" width="1500" height="600">
				</div>
			</f:else>
		</f:if>
	</header>
	<div class="content">
		<div class="content__wrapper clearfix">
			<main>
				<f:format.raw>{main}</f:format.raw>
			</main>
			<aside>
				<f:format.raw>{aside}</f:format.raw>
			</aside>
		</div>
	</div>
	<f:render partial="footer" />
</f:section>

<!-- subpage -->
<f:section name="subpage">
	<header>
		<f:render partial="navbar" />
	</header>
	<f:render partial="breadcrumb" />
	<div class="content">
		<div class="content__wrapper">
			<main>
				<f:format.raw>{main}</f:format.raw>
			</main>
			<aside>
				<f:format.raw>{aside}</f:format.raw>
			</aside>
		</div>
	</div>
	<f:render partial="footer" />
</f:section>
