<div class="navbar">
  <div class="navbar__wrapper">
    <div class="navbar__logo">
      <f:link.page pageUid="1">
        <svg viewBox="0 0 59 35" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" width="59" height="35" ><path d="M27.773.021h-27.773v34.973h34.554v-28.109l-6.781-6.863z" fill="#ec671c"/><path d="M28.598 13.622h-6.254v2.683h6.254v2.682h-6.254v5.342h-2.783v-10.706h-3.83v10.705h-2.65v-10.705h-3.964v10.705h-2.65v-13.388h22.132l-.001 2.682z" fill="#fff"/></svg>
      </f:link.page>
    </div>
    <div class="toggle dots"><div class="dot"></div></div>
    <div class="navbar__nav offset">
      <nav class="scroller">
        <ul class="toplevel">
          <f:cObject typoscriptObjectPath="lib.mainNavi" />
        </ul>
      </nav>
    </div>
  </div>
</div>